body{
	background-image: url("castlebackground.png");
}
#titler{
	position: relative;
	top: 20px;
}
#link {
	float: right;
	padding: 15px;
}
#tophalf {
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	padding: 0px
}
.poststack{
	
	padding: 50px;
}
.post{
	width: 1000px;
	background-image: url("tanpaper.jpg");
	border-style: solid;
	border-width: 3px;
	border-color: #25190b;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	top: 0;
	left: 0;
}
#postdiv{
	height:30px;
}
.date{
	font-size: 12px;
	text-align: right;
	top: 0;
	right: 0;
}
.mage{
	font-family: "Almendra SC";
	font-size: 18px;
	padding: 0;
	color: #B30000;
}
.postcontent{
	font-size: 18px;
	padding: 0;
	color: black;
}
#newpost{
	position: relative;
	float: left;
	top: 30px;
	width: 600px;
	height: 250px;
	text-align: left;
	top: 0;
	left: 0;
}
#submitpost{
	position: absolute;
	top: 420px;
	margin: 0;
	left: 0;
}