body {
	background-image: url("castlebackground.png");
}
#scrollhead {
	position: relative;
	text-align: center;
	width: 500px;
	margin: 0px;
}
#welcome {
	position: absolute;
	top: 30%;
	left: 33%;
	transform: translate(-25%, -25%);
	font-size: 29px;
	font-family: "Pirata One";
}
#links {
	float: right;
	padding: 5px;
}
.float-container {
	border: 0px;
	padding: 0px;
}
.float-child {
	float: left;
}