body {
	background-image: url("castlebackground.png");
}
#scrollhead {
	position: relative;
	text-align: center;
	width: 500px;
	margin: 0px;
}
#welcome {
	position: absolute;
	top: 30%;
	left: 33%;
	transform: translate(-25%, -25%);
	font-size: 29px;
	font-family: "Pirata One";
}
#link {
	float: right;
	padding: 15px;
}
#tophalf {
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	padding: 0px
}
#div1 {
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	top: 122px;
	left: 165px;
}
#div2 {
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	top: 405px;
	left: 165px;
}
#intro {
	position: relative;
	top: 175px;
	max-width: 435px;
	padding: 10px;
	margin-left: 20px;
	background-image: url("stoneywall.png");
	border-style: solid;
	border-width: 3px;
	border-color: #1a2840;
	box-sizing: border-box;
	height: 220px;
}
#cproj {
	position: relative;
	top: 250px;
	max-width: 435px;
	padding: 0px;
	margin-left: 10px;
	height: 400px;
}
#latestupdate {
	float: right;
	width: 600px;
	background-image: url("tanpaper.jpg");
	border-style: solid;
	border-width: 3px;
	border-color: #25190b;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	top: 0;
	left: 0;
}
#lulink{
	cursor: pointer;
}
#checkitout{
	font-size: 25px;
	font-family: "Pirata One";
}
.inttext {
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: "Almendra SC";
	font-size: 20px;
}
.float-container {
	border: 0px;
	padding: 0px;
}
.float-child {
	float: left;
}
.subtext{
	font-family: "Almendra SC";
	font-size: 17px;
}
#formdiv {
	position: relative;
	top: 440px;
}
#btmleft {
	position: absolute;
	top: 866px;
	padding: 0;
	margin: 0;
	border: 0;
}
.date{
	font-size: 12px;
	text-align: right;
	top: 0;
	right: 0;
}
.mage{
	font-family: "Almendra SC";
	font-size: 18px;
	padding: 0;
	color: #B30000;
	text-shadow:
		1px 1px 0 #000,
		-1px 1px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000;
}
.postcontent{
	font-size: 18px;
	padding: 0;
	color: black;
}